<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1MmNhWrCxjEIs7s1GV9Dhh5Mzd9TGbgY</string>
	<key>GCM_SENDER_ID</key>
	<string>983758988574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jewelleres.gokul</string>
	<key>PROJECT_ID</key>
	<string>gokul-f0492</string>
	<key>STORAGE_BUCKET</key>
	<string>gokul-f0492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983758988574:ios:f97018088f3cbe79b8150f</string>
</dict>
</plist>